* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    text-align: center;
    font-size: 50px;
}
.counter {
    text-align: center;
    font-size: 33px;
}
.buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 20px;
   }
.add, .async, .sub {
    font-size: 24px;
    border: 3px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    margin-left: 5px;
}
.add:hover, .async:hover, .sub:hover {
    background-color: #fff;
    color: green;
    cursor:pointer;
}


